.header {
    background: #fff;
}

.header_inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    border-bottom: 1px solid grey
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    color: #ee8ff1;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 20%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav_link {
    color: #000;
    text-decoration: none;
}

.header-nav_button {
    border: 1px solid #000;
    background: #ddd;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border:none;
}