.form_content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    background: #ddd;
}

.change-form {
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.form_content-title {
    text-align: center;
}

.form_content-item input {
    height: 40px;
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form_button {
    display: flex;
    margin-top: 30px;
    text-align: center;
}

.form_button-back {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ddd;
    color: #000;
    cursor: pointer;
}

.form_button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(#cbcff7, #f4d3cf);
    color: #fff;
    cursor: pointer;
}