.register-form_content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form_header {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin-left: 5px 10px;
    width: 80%;
    text-align: center;
}

.form_group {
    margin-bottom: 5px;
}

.form_group-title {
    text-align: left;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form_input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form_button {
    margin-top: 20px;
}

.form_button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(#cbcff7, #f4d3cf);
    color: #fff;
    cursor: pointer;
}